body {
  background: linear-gradient(to right, black, white);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  min-height: 400px;
  max-height: 60vh;
  width: 540px;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  overflow: auto;
}

h1 {
  text-align: center;
}

h1 img {
  width: 32px;
}

.text-input {
  padding: 4px;
  width: 80%;
  border-color: black;
  border-radius: 3px;
  height: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 2px solid black;
  width: 80%;
  border-radius: 3px;
  padding: 4px;
  height: 30px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 15%;
  padding: 8px;
  cursor: pointer;
  background-color: black;
  border-radius: 4px;
  color: white;
  border: none;
  font-weight: 500;

}

.edit-button {
  margin-right: 4px;
}

.add-button {
  height: 42px;
}

p {
  margin-left: 2px;
  flex: 1;
  cursor: pointer;
  font-size: 18px;
}

.p-checked {
  text-decoration: line-through;
}