body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  min-height: 400px;
  width: 540px;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
}

h1 {
  text-align: center;
}

.text-input {
  padding: 4px;
  width: 80%;
}

.add-button {
  width: 15%;
  padding: 4px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid black;
  width: 80%;
  border-radius: 3px;
  padding: 4px;
  height: 30px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  width: 15%;
  padding: 5px;
}

.edit-button {
  width: 15%;
  padding: 5px;
  margin-right: 4px;
}

p {
  margin-left: 2px;
  flex: 1;
  cursor: pointer;
}

.p-checked {
  text-decoration: line-through;
}